body {
    font-family: 'Inconsolata', serif;
/*  text-align: 'center';
*/}

h1 {
    margin:auto;
    text-align: center;
    font-family: 'Inconsolata', serif;

}

h2 {
    margin:auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: 'Inconsolata', serif;

}

#main {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 75%;
    margin: auto;
    background-color: #f3f3f3;
    text-align: center;
    padding: 10px;
}

#main2 {
    display: inline-block;
    position: absolute;
    top: 175%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 75%;
    margin: auto;
    background-color: #f3f3f3;
    text-align: center;
    padding: 10px;
}

.xaxis {
    font: 10px sans-serif;
}

.xaxis path {
  display: none;
}

.xaxis line {
  shape-rendering: crispEdges;
  stroke: #000;
}
.yaxis path {
  display: none;
}

.yaxis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.yaxis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.right-line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
